@model WebAppMVC.Models.Especialidad

<h4>Especialidad</h4>

<div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Id" />
        <div>
            <label asp-for="Descripcion"></label>
            <input asp-for="Descripcion" />
        </div>
        <div>
            <input type="submit" name="grabar" value="Grabar" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Volver</a>
</div>